li>a {
    cursor: pointer;
    padding: 8px 15px;

    &:hover {
        background-color: #d6e5f1;
        border-radius: 5px;
        text-decoration: underline;
    }

    &.active {
        color: #2092f0;
        border-radius: 5px;
        font-weight: bold;
    }
}